body {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   margin: 0;
   font-family: 'Nunito', sans-serif;
   background: #101010;
   color: white;
   text-underline-position: under;
   text-align: center;
   text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
   font-size: 18px;
}

.par {
   position: relative;
   width: 70%;
   color: grey;
   margin: auto;
   cursor: default;
}

.par:hover {
   color: white;
}

.des {
   color: grey;
}

pre {
   position: relative;
   width: 90%;
   margin: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   background: black;
   box-shadow: 0 0 2px white;
   padding: 15px;
   word-wrap: break-word;
   white-space: pre-wrap;
   text-align: left;
   font-size: 16px;
   user-select: text;
}

.file {
   position: absolute;
   top: 10px;
   right: 10px;
   font-family: 'Nunito', sans-serif;
   font-size: 14px;
   user-select: none;
}

.order {
   width: 90%;
   margin: auto;
   text-align: left;
   cursor: default;
}

.title {
   animation: glow 4s linear infinite;
   user-select: none;
}

code {
   background: black;
   color: white;
   padding-left: 3px;
   padding-right: 3px;
}

.popup-msg {
   position: fixed;
   z-index: 11;
   display: none;
   bottom: 0;
   background: rgb(19, 26, 49);
   color: white;
   justify-content: center;
   align-items: center;
   width: 100%;
   box-sizing: border-box;
   padding: 5px;
   box-shadow: 0 0 5px white;
}

.js,
.yellow {
   color: yellow;
}

.css,
.skyBlue {
   color: skyBlue;
}

.html,
.orange {
   color: orange;
}

.red {
   color: red;
}

.greenYellow {
   color: greenYellow;
}

.yellowGreen {
   color: yellowGreen;
}

.lightGreen,
.vue {
   color: lightGreen;
}

.violet {
   color: violet;
}

.pink {
   color: pink;
}

.shineBlue {
   color: #00d8ff;
}

.shineViolet {
   color: #ff3bfc;
}

pre {
   font-size: 18px;
}

.copy-button {
   position: absolute;
   bottom: 10px;
   right: 10px;
   border: 1px solid darkGrey;
   color: darkGrey;
   padding: 5px;
   background: transparent;
   opacity: 0.4;
   font-size: 15px;
   cursor: default;
   user-select: none;
   border-radius: 3px;
}

.copy-button:hover {
   border: 1px solid greenyellow;
   color: greenyellow;
   background: rgb(32, 32, 32);
   opacity: 1;
   box-shadow: 0 0 3px greenyellow;
}

.copy-button:active {
   box-shadow: 0 0 3px greenyellow inset;
}

.tool-tip {
   display: none;
   position: absolute;
   z-index: 10;
   width: max-content;
   max-width: 30%;;
   padding: 5px;
   background: rgba(0, 0, 0, 0.7);
   border: 1px solid darkGrey;
   color: lightgrey;
   padding: 5px;
   box-shadow: 0 0 5px black;
   cursor: default;
}

.tool-tip:hover {
   color: white;
   background: rgb(24, 24, 24);
   border: 1px solid white;
}

.var {
   cursor: default;
}

.var:hover {
   font-weight: bold;
}

@keyframes shine-yellow {
   from {
      text-shadow: 0 0 15px yellow, 0 0 15px yellow;
   }

   to {
      text-shadow: 0 0 10px yellow, 0 0 10px yellow;
   }
}

@keyframes glow {
   0% {
      filter: drop-shadow(0 0 1rem rgb(9, 255, 0.5));
   }

   33% {
      filter: drop-shadow(0 0 1rem rgba(1, 6, 255, 0.5));
   }

   66% {
      filter: drop-shadow(0 0 1rem rgba(255, 0, 0, 0.5));
   }

   100% {
      filter: drop-shadow(0 0 1rem rgb(166, 255, 1));
   }
}
